.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e5e5e530;

  .login_component {
    width: 350px;
    padding: 20px;
    background: #fff;
    border-radius: 7px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);

    svg {
      height: 60px;
      margin-bottom: 20px;
    }

    h1 {
      font-size: 25px;
      margin-bottom: 30px;
      color: #2B4450;
    }

    input {
      width: 100%;
      padding: 8px;
      height: 45px;
      outline: none;
      border-radius: 4px;
      border: 1px solid #DFDFDF;
      font-size: 14px;
      font-weight: 400;
      background: rgba(255, 255, 255, 0.80);
      color: #414141;
      transition: all 0.2s ease;
      margin-bottom: 20px;

      &:last-child {
        background: #414141;
      }

      &:focus-visible {
        border-color: #c2c2c2;
      }
    }

    .about {
      text-align: center;
      font-size: 13px;
      margin-bottom: 10px;
    }

    .regist{
      padding-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .alert{
      color: #2B4450;
      padding-bottom: 5px;
      font-weight: 100;
    }

    .confirm_btn {
      width: 190px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      padding: 8px;
      border: none;
      border-radius: 7px;
      color: #fff;
      background: #2DCC70;
      cursor: pointer;
      transition: 0.4s ease;
      font-weight: 500;
      letter-spacing: 0.5px;

      &:hover {
        background: #26a25a;
      }
    }
    .register_question {
      font-size: 14px;
      color: #414141;
      margin-bottom: 10px;
    }
    .register {
      position: relative;
      font-size: 14px;
      color: #414141;
      cursor: pointer;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: #000;
      }
      &:hover {
        color: #696969;

        &:after {
          bottom: -4px;
          transition: all 0.3s ease;
        }
      }
    }
  }
}
