.wrapper {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 20px 20px 20px;
  background: #fff;
   -webkit-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
   -moz-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
   box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  border-radius: 7px;

  .nick {
    font-size: 24px;
    margin-bottom: 30px;
    color: #959FA8;
  }

  img {
    width: 152px;
    height: 152px;
    border-radius: 70px;
    margin-bottom: 20px;
  }

  .rating {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    p {
      font-size: 24px;
      color: #959FA8;
    }

    svg {
      width: 37px;
      height: 37px;
    }
  }
}
