.header {
  border-bottom: 1px solid #b2b7b9;
  display: flex;
  align-items: center;
  padding: 20px;
  width: 100%;
  background: #fff;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.header a {
  position: relative;
  margin-right: 20px;
  font-size: 20px;
  cursor: pointer;
  color: #2B4450;
  transition: all 0.3s ease;
}

.header a.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -21px;
  width: 100%;
  height: 2px;
  background-color: #2DCC70;
}

.header a:hover {
  color: #7a7b7c;
}

.di {
  margin-top: 20px;
}
