<div class="main">
  <div class="wrapper">
    <p class="title">Почта</p>
    <input type="text" placeholder="Текущая почта">
    <input type="text" placeholder="Новая почта">
  </div>
  <div class="wrapper">
    <p class="title">Пароль</p>
    <input type="password" placeholder="Текущий пароль">
    <input type="password" placeholder="Новый пароль">
    <input type="password" placeholder="Повторите пароль">
  </div>
</div>
<div class="btn_wrapper">
  <button class="confirm_btn">Принять</button>
</div>

