<div class="schema">
    <div class="leftSide">
        <div class="oneTour">
            <ul class="matchupOneround">
                <li class="teamtop">1</li>
                <li class="scoreTeamtop">1</li>
                <li class="teambot">2</li>
                <li class="scoreTeambot">0</li>
            </ul>
            <ul class="matchupOneround">
                <li class="teamtop">3</li>
                <li class="scoreTeamtop">1</li>
                <li class="teambot">4</li>
                <li class="scoreTeambot">0</li>
            </ul>
            <ul class="matchupOneround">
                <li class="teamtop">5</li>
                <li class="scoreTeamtop">1</li>
                <li class="teambot">6</li>
                <li class="scoreTeambot">0</li>
            </ul>
            <ul class="matchupOneround">
                <li class="teamtop">7</li>
                <li class="scoreTeamtop">1</li>
                <li class="teambot">8</li>
                <li class="scoreTeambot">0</li>
            </ul>
            <ul class="matchupOneround">
                <li class="teamtop">9</li>
                <li class="scoreTeamtop">1</li>
                <li class="teambot">10</li>
                <li class="scoreTeambot">0</li>
            </ul>
            <ul class="matchupOneround">
                <li class="teamtop">11</li>
                <li class="scoreTeamtop">1</li>
                <li class="teambot">12</li>
                <li class="scoreTeambot">0</li>
            </ul>
            <ul class="matchupOneround">
                <li class="teamtop">13</li>
                <li class="scoreTeamtop">1</li>
                <li class="teambot">14</li>
                <li class="scoreTeambot">0</li>
            </ul>
            <ul class="matchupOneround">
                <li class="teamtop">15</li>
                <li class="scoreTeamtop">1</li>
                <li class="teambot">16</li>
                <li class="scoreTeambot">0</li>
            </ul>
        </div>
        <div class="twoTour">
            <ul class="matchupTworound">
                <li class="teamtop">17</li>
                <li class="scoreTeamtop">1</li>
                <li class="teambot">18</li>
                <li class="scoreTeambot">0</li>
            </ul>
            <ul class="matchupTworound">
                <li class="teamtop">19</li>
                <li class="scoreTeamtop">1</li>
                <li class="teambot">20</li>
                <li class="scoreTeambot">0</li>
            </ul>
            <ul class="matchupTworound">
                <li class="teamtop">21</li>
                <li class="scoreTeamtop">1</li>
                <li class="teambot">22</li>
                <li class="scoreTeambot">0</li>
            </ul>
            <ul class="matchupTworound">
                <li class="teamtop">23</li>
                <li class="scoreTeamtop">1</li>
                <li class="teambot">24</li>
                <li class="scoreTeambot">0</li>
            </ul>
        </div>
        <div class="threeTour">
            <ul class="matchupThreeround">
                <li class="teamtop">25</li>
                <li class="scoreTeamtop">1</li>
                <li class="teambot">26</li>
                <li class="scoreTeambot">0</li>
            </ul>
            <ul class="matchupThreeround">
                <li class="teamtop">27</li>
                <li class="scoreTeamtop">1</li>
                <li class="teambot">28</li>
                <li class="scoreTeambot">0</li>
            </ul>
        </div>
    </div>
    <div class="midSide">
        <ul class="matchupOneround">
            <li class="teamtop">29</li>
            <li class="scoreTeamtop">1</li>
            <li class="teambot">30</li>
            <li class="scoreTeambot">0</li>
        </ul>
        <ul class="matchupOneround">
            <li class="teamtop">29</li>
            <li class="scoreTeamtop">1</li>
            <li class="teambot">30</li>
            <li class="scoreTeambot">0</li>
        </ul> 
        <ul class="matchupOneround">
            <li class="teamtop">29</li>
            <li class="scoreTeamtop">1</li>
            <li class="teambot">30</li>
            <li class="scoreTeambot">0</li>
        </ul>
    </div>
    <div class="rightSide">
        <div class="threeTour">
            <ul class="matchupThreeround">
                <li class="teamtop">31</li>
                <li class="scoreTeamtop">1</li>
                <li class="teambot">32</li>
                <li class="scoreTeambot">0</li>
            </ul>
            <ul class="matchupThreeround">
                <li class="teamtop">33</li>
                <li class="scoreTeamtop">1</li>
                <li class="teambot">34</li>
                <li class="scoreTeambot">0</li>
            </ul>
        </div>
        <div class="twoTour">
            <ul class="matchupTworound">
                <li class="teamtop">35</li>
                <li class="scoreTeamtop">1</li>
                <li class="teambot">36</li>
                <li class="scoreTeambot">0</li>
            </ul>
            <ul class="matchupTworound">
                <li class="teamtop">37</li>
                <li class="scoreTeamtop">1</li>
                <li class="teambot">38</li>
                <li class="scoreTeambot">0</li>
            </ul>            
            <ul class="matchupTworound">
                <li class="teamtop">39</li>
                <li class="scoreTeamtop">1</li>
                <li class="teambot">40</li>
                <li class="scoreTeambot">0</li>
            </ul>
            <ul class="matchupTworound">
                <li class="teamtop">41</li>
                <li class="scoreTeamtop">1</li>
                <li class="teambot">42</li>
                <li class="scoreTeambot">0</li>
            </ul>
        </div>
        <div class="oneTour">
            <ul class="matchupOneround">
                <li class="teamtop">43</li>
                <li class="scoreTeamtop">1</li>
                <li class="teambot">44</li>
                <li class="scoreTeambot">0</li>
            </ul>
            <ul class="matchupOneround">
                <li class="teamtop">45</li>
                <li class="scoreTeamtop">1</li>
                <li class="teambot">46</li>
                <li class="scoreTeambot">0</li>
            </ul>            
            <ul class="matchupOneround">
                <li class="teamtop">47</li>
                <li class="scoreTeamtop">1</li>
                <li class="teambot">48</li>
                <li class="scoreTeambot">0</li>
            </ul>
            <ul class="matchupOneround">
                <li class="teamtop">49</li>
                <li class="scoreTeamtop">1</li>
                <li class="teambot">50</li>
                <li class="scoreTeambot">0</li>
            </ul>            
            <ul class="matchupOneround">
                <li class="teamtop">51</li>
                <li class="scoreTeamtop">1</li>
                <li class="teambot">52</li>
                <li class="scoreTeambot">0</li>
            </ul>
            <ul class="matchupOneround">
                <li class="teamtop">53</li>
                <li class="scoreTeamtop">1</li>
                <li class="teambot">54</li>
                <li class="scoreTeambot">0</li>
            </ul>            
            <ul class="matchupOneround">
                <li class="teamtop">55</li>
                <li class="scoreTeamtop">1</li>
                <li class="teambot">56</li>
                <li class="scoreTeambot">0</li>
            </ul>
            <ul class="matchupOneround">
                <li class="teamtop">57</li>
                <li class="scoreTeamtop">1</li>
                <li class="teambot">58</li>
                <li class="scoreTeambot">0</li>
            </ul>
        </div>
    </div>
</div>