.container {
  display: flex;
  justify-content: space-around;
}

.panel {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 70%;
  background: #fff;
  box-sizing: border-box;
  border-radius: 15px;
  -webkit-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}

