<div class="general">
    <section class="list_wrapper" *ngIf="users.length != 0; else errorBlock">
        <label>Тор играков</label>
        <div *ngFor="let user of users; let i = index">
            <div class="row_wrapper">
                <p>{{user.avatar_path}}</p>
                <div class="info">
                    <p>{{user.username}}</p>
                    <p>{{user.points}}</p>
                </div>          
              </div>
        </div>
    </section>
    <ng-template #errorBlock>
        <section class="list_wrapper">
            <div class="match_wrapper" >
                <p>Игроков не найдено</p>
            </div>
        </section>
    </ng-template>

    <div class="schema">
        <div class="leftSide">
            <div class="oneTour">
                <ul class="matchupOneround" *ngFor="let number of numbers; let i = index">
                    <li><input class="input teamtop" type="text" value="" id="{{i}}" required/></li>
                    <li><input class="score scoreTeamtop" type="number" value="0" id="{{i+1}}" required/></li>
                    <li><input class="input teambot" type="text" value="" id="{{i+2}}" required/></li>
                    <li><input class="score scoreTeambot" type="number" value="1" id="{{i+3}}" required/></li>
                </ul>
            </div>
            <div class="twoTour">
                <ul class="matchupTworound">
                    <li class="teamtop">17</li>
                    <li class="scoreTeamtop">1</li>
                    <li class="teambot">18</li>
                    <li class="scoreTeambot">0</li>
                </ul>
                <ul class="matchupTworound">
                    <li class="teamtop">19</li>
                    <li class="scoreTeamtop">1</li>
                    <li class="teambot">20</li>
                    <li class="scoreTeambot">0</li>
                </ul>
                <ul class="matchupTworound">
                    <li class="teamtop">21</li>
                    <li class="scoreTeamtop">1</li>
                    <li class="teambot">22</li>
                    <li class="scoreTeambot">0</li>
                </ul>
                <ul class="matchupTworound">
                    <li class="teamtop">23</li>
                    <li class="scoreTeamtop">1</li>
                    <li class="teambot">24</li>
                    <li class="scoreTeambot">0</li>
                </ul>
            </div>
            <div class="threeTour">
                <ul class="matchupThreeround">
                    <li class="teamtop">25</li>
                    <li class="scoreTeamtop">1</li>
                    <li class="teambot">26</li>
                    <li class="scoreTeambot">0</li>
                </ul>
                <ul class="matchupThreeround">
                    <li class="teamtop">27</li>
                    <li class="scoreTeamtop">1</li>
                    <li class="teambot">28</li>
                    <li class="scoreTeambot">0</li>
                </ul>
            </div>
        </div>
        <div class="midSide">
            <ul class="matchupOneround">
                <li class="teamtop">29</li>
                <li class="scoreTeamtop">1</li>
                <li class="teambot">30</li>
                <li class="scoreTeambot">0</li>
            </ul>
            <ul class="matchupOneround">
                <li class="teamtop">29</li>
                <li class="scoreTeamtop">1</li>
                <li class="teambot">30</li>
                <li class="scoreTeambot">0</li>
            </ul>
            <ul class="matchupOneround">
                <li class="teamtop">29</li>
                <li class="scoreTeamtop">1</li>
                <li class="teambot">30</li>
                <li class="scoreTeambot">0</li>
            </ul>
        </div>
        <div class="rightSide">
            <div class="threeTour">
                <ul class="matchupThreeround">
                    <li class="teamtop">31</li>
                    <li class="scoreTeamtop">1</li>
                    <li class="teambot">32</li>
                    <li class="scoreTeambot">0</li>
                </ul>
                <ul class="matchupThreeround">
                    <li class="teamtop">33</li>
                    <li class="scoreTeamtop">1</li>
                    <li class="teambot">34</li>
                    <li class="scoreTeambot">0</li>
                </ul>
            </div>
            <div class="twoTour">
                <ul class="matchupTworound">
                    <li class="teamtop">35</li>
                    <li class="scoreTeamtop">1</li>
                    <li class="teambot">36</li>
                    <li class="scoreTeambot">0</li>
                </ul>
                <ul class="matchupTworound">
                    <li class="teamtop">37</li>
                    <li class="scoreTeamtop">1</li>
                    <li class="teambot">38</li>
                    <li class="scoreTeambot">0</li>
                </ul>            
                <ul class="matchupTworound">
                    <li class="teamtop">39</li>
                    <li class="scoreTeamtop">1</li>
                    <li class="teambot">40</li>
                    <li class="scoreTeambot">0</li>
                </ul>
                <ul class="matchupTworound">
                    <li class="teamtop">41</li>
                    <li class="scoreTeamtop">1</li>
                    <li class="teambot">42</li>
                    <li class="scoreTeambot">0</li>
                </ul>
            </div>
            <div class="oneTour">
                <ul class="matchupOneround">
                    <li class="teamtop">43</li>
                    <li class="scoreTeamtop">1</li>
                    <li class="teambot">44</li>
                    <li class="scoreTeambot">0</li>
                </ul>
                <ul class="matchupOneround">
                    <li class="teamtop">45</li>
                    <li class="scoreTeamtop">1</li>
                    <li class="teambot">46</li>
                    <li class="scoreTeambot">0</li>
                </ul>            
                <ul class="matchupOneround">
                    <li class="teamtop">47</li>
                    <li class="scoreTeamtop">1</li>
                    <li class="teambot">48</li>
                    <li class="scoreTeambot">0</li>
                </ul>
                <ul class="matchupOneround">
                    <li class="teamtop">49</li>
                    <li class="scoreTeamtop">1</li>
                    <li class="teambot">50</li>
                    <li class="scoreTeambot">0</li>
                </ul>            
                <ul class="matchupOneround">
                    <li class="teamtop">51</li>
                    <li class="scoreTeamtop">1</li>
                    <li class="teambot">52</li>
                    <li class="scoreTeambot">0</li>
                </ul>
                <ul class="matchupOneround">
                    <li class="teamtop">53</li>
                    <li class="scoreTeamtop">1</li>
                    <li class="teambot">54</li>
                    <li class="scoreTeambot">0</li>
                </ul>            
                <ul class="matchupOneround">
                    <li class="teamtop">55</li>
                    <li class="scoreTeamtop">1</li>
                    <li class="teambot">56</li>
                    <li class="scoreTeambot">0</li>
                </ul>
                <ul class="matchupOneround">
                    <li class="teamtop">57</li>
                    <li class="scoreTeamtop">1</li>
                    <li class="teambot">58</li>
                    <li class="scoreTeambot">0</li>
                </ul>
            </div>
        </div>
    </div>
</div>