<div class="general">
    <ng-template #errorBlock>
        <section class="list_wrapper">
            <div class="match_wrapper" >
                <p>Игроков не найдено</p>
            </div>
        </section>
    </ng-template>

    <div class="schema">
        <div class="leftSide">
            <div class="tour">
                <ul class="round" *ngFor="let number of oneTour1; let i = index">
                    <li><input class="input teamtop" type="text" value="" id="{{number}}" required/></li>
                    <li><input class="score scoreTeamtop" type="number" value="0" id="{{number+1}}" required/></li>
                    <li><input class="input teambot" type="text" value="" id="{{number+2}}" required/></li>
                    <li><input class="score scoreTeambot" type="number" value="1" id="{{number+3}}" required/></li>
                </ul>
            </div>
            <div class="tour">
                <ul class="round" *ngFor="let number of twoTour1; let i = index">
                    <li><input class="input teamtop" type="text" value="" id="{{number}}" required/></li>
                    <li><input class="score scoreTeamtop" type="number" value="0" id="{{number+1}}" required/></li>
                    <li><input class="input teambot" type="text" value="" id="{{number+2}}" required/></li>
                    <li><input class="score scoreTeambot" type="number" value="1" id="{{number+3}}" required/></li>
                </ul>
            </div>
            <div class="tour">
                <ul class="round" *ngFor="let number of threeTour1; let i = index">
                    <li><input class="input teamtop" type="text" value="" id="{{number}}" required/></li>
                    <li><input class="score scoreTeamtop" type="number" value="0" id="{{number+1}}" required/></li>
                    <li><input class="input teambot" type="text" value="" id="{{number+2}}" required/></li>
                    <li><input class="score scoreTeambot" type="number" value="1" id="{{number+3}}" required/></li>
                </ul>
            </div>
            <div class="tour">
                <ul class="round" *ngFor="let number of fourTour1; let i = index">
                    <li><input class="input teamtop" type="text" value="" id="{{number}}" required/></li>
                    <li><input class="score scoreTeamtop" type="number" value="0" id="{{number+1}}" required/></li>
                    <li><input class="input teambot" type="text" value="" id="{{number+2}}" required/></li>
                    <li><input class="score scoreTeambot" type="number" value="1" id="{{number+3}}" required/></li>
                </ul>
            </div>
        </div>
        <div class="tour">
            <ul class="round">
                <li class="teamtop">29</li>
                <li class="scoreTeamtop">1</li>
                <li class="teambot">30</li>
                <li class="scoreTeambot">0</li>
            </ul>
        </div>
        <div class="rightSide">
            <div class="tour">
                <ul class="round" *ngFor="let number of fourTour1; let i = index">
                    <li><input class="input teamtop" type="text" value="" id="{{number}}" required/></li>
                    <li><input class="score scoreTeamtop" type="number" value="0" id="{{number+1}}" required/></li>
                    <li><input class="input teambot" type="text" value="" id="{{number+2}}" required/></li>
                    <li><input class="score scoreTeambot" type="number" value="1" id="{{number+3}}" required/></li>
                </ul>
            </div>
            <div class="tour">
                <ul class="round" *ngFor="let number of threeTour1; let i = index">
                    <li><input class="input teamtop" type="text" value="" id="{{i}}" required/></li>
                    <li><input class="score scoreTeamtop" type="number" value="0" id="{{i+1}}" required/></li>
                    <li><input class="input teambot" type="text" value="" id="{{i+2}}" required/></li>
                    <li><input class="score scoreTeambot" type="number" value="1" id="{{i+3}}" required/></li>
                </ul>
            </div>
            <div class="tour">
                <ul class="round" *ngFor="let number of twoTour1; let i = index">
                    <li><input class="input teamtop" type="text" value="" id="{{i}}" required/></li>
                    <li><input class="score scoreTeamtop" type="number" value="0" id="{{i+1}}" required/></li>
                    <li><input class="input teambot" type="text" value="" id="{{i+2}}" required/></li>
                    <li><input class="score scoreTeambot" type="number" value="1" id="{{i+3}}" required/></li>
                </ul>
            </div>
            <div class="tour">
                <ul class="round" *ngFor="let number of oneTour1; let i = index">
                    <li><input class="input teamtop" type="text" value="" id="{{i}}" required/></li>
                    <li><input class="score scoreTeamtop" type="number" value="0" id="{{i+1}}" required/></li>
                    <li><input class="input teambot" type="text" value="" id="{{i+2}}" required/></li>
                    <li><input class="score scoreTeambot" type="number" value="1" id="{{i+3}}" required/></li>
                </ul>
            </div>
        </div>
    </div>
</div>
