.header {
    display: flex;
    justify-content: center;
    background: #FFF;
    width: 1440px;
    height: 70px;

    .header__content {
        display: flex;
        width: 100%;

        .logo {
            display: flex;
            justify-content: left;
            width: 33%;

            svg {
                padding: 3px;
            }

            a {
                color: #172C41;
                font-size: 18px;
                font-weight: 500;
                font-style: normal;
                margin: 25px;
            }
        }

        .navbar {
            display: flex;
            justify-content: center;
            width: 34%;

            .navbar__link {
                color: #A0A8B1;
                font-size: 18px;
                font-weight: 500;
                font-style: normal;
                margin: 25px;

                .active {
                    color: #172C41;
                }
            }
        }

        .avatar {
            display: flex;
            justify-content: right;
            width: 33%;

            svg {
                padding: 3px;
            }
        }
    }
}