.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFF;
  height: 85px;
  padding: 25px;
  border-radius: 5px;

  .logo {
    display: flex;
    align-items: center;

    svg {
      margin-right: 15px;
    }

    .title_wrapper {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      text-decoration: none;

      .title {
        color: #2DCC70;
        font-size: 24px;
        font-weight: 500;
        font-style: normal;
        margin-bottom: 5px;
        transition: all 0.3s ease;
      }

      p {
        font-size: 14px;
        color: #A0A8B1;
      }

      &:hover {
        .title {
          color: #208c4e;
        }
      }
    }
  }

  .navbar {
    display: flex;
    justify-content: center;

    .navbar__link {
      color: #A0A8B1;
      font-size: 18px;
      font-weight: 500;
      font-style: normal;
      margin: 25px;
      transition: all 0.3s ease;
      cursor: pointer;
      &:hover {
        color: #7a7b7c;
      }

      .active {
        color: #172C41;
      }
    }
  }

  .avatar {

    img {
      width: 50px;
      height: 50px;
      border-radius: 30px;
    }
  }
}
