.match_wrapper {
  width: 800px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 44px;
  background: #fff;
  margin-bottom: 13px;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);

  p {
    color: #959FA8;
    font-size: 17px;
    width: 20%;

    &:first-child {
      width: 50%;
    }
  }

  .info_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: none;
    border-radius: 7px;
    color: #FFF;
    background: #2DCC70;
    cursor: pointer;
    transition: 0.4s ease;
    font-weight: 500;
    letter-spacing: 0.5px;

    &:hover {
      background: #22a65a;
    }
  }
}
