<div class="wrapper">
  <div class="block">
    <img src="../../../../../assets/image.jpg" alt="">
    <p class="title">Название</p>
  </div>
  <div class="block">
    <img src="../../../../../assets/image.jpg" alt="">
    <p class="title">Название</p>
  </div>
  <div class="block">
    <img src="../../../../../assets/image.jpg" alt="">
    <p class="title">Название</p>
  </div>
  <div class="block">
    <img src="../../../../../assets/image.jpg" alt="">
    <p class="title">Название</p>
  </div>
  <div class="block">
    <img src="../../../../../assets/image.jpg" alt="">
    <p class="title">Название</p>
  </div>
  <div class="block">
    <img src="../../../../../assets/image.jpg" alt="">
    <p class="title">Название</p>
  </div>
  <div class="block">
    <img src="../../../../../assets/image.jpg" alt="">
    <p class="title">Название</p>
  </div>
  <div class="block">
    <img src="../../../../../assets/image.jpg" alt="">
    <p class="title">Название</p>
  </div>
</div>
