body {
    background: #2B4450;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 30px;
}

.col {
  display: flex;
  flex-direction: column;
  padding: 0 15px 0 15px;
}
