.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .lds-circle {
    display: inline-block;
    transform: translateZ(1px);
  }

  .lds-circle > svg {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    background: #fff;
    animation: lds-circle 2.4s linear infinite;
  }

  @keyframes lds-circle {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
