section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px 30px;
  background: #ffffff;
  max-width: 300px;
  border-radius: 7px;
  -webkit-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);

  p {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 23px;
    color: #959FA8;
  }

  .info_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: none;
    border-radius: 7px;
    color: #FFF;
    background: #2DCC70;
    cursor: pointer;
    transition: 0.4s ease;
    font-weight: 500;
    letter-spacing: 0.5px;

    &:hover {
      background: #26a45b;
    }
  }
}
